@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Montserrat:wght@100;200;300&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inika:wght@400;700&family=Sacramento&family=Tillana:wght@400;600;800&display=swap");
@import url("http://weloveiconfonts.com/api/?family=entypo");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 16px;
  color: #000;
  font-family: "Tillana", cursive;
  line-height: 2.7rem; }
  @media screen and (max-width: 575px) {
    * {
      font-size: 10px; } }
  * p, * h1, * h2, * h3, * h4, * h5, * h6 {
    margin-bottom: 0; }
  @media (min-width: 1400px) {
    * .container {
      max-width: 1200px; } }
  * .l-body {
    margin-top: 100px; }
  * .bg-second {
    background-color: #F9F7F3; }
  * .bg-third {
    background-color: #F5F5F5; }
  * .bg-position-left {
    position: relative; }
    * .bg-position-left::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #F0E9DC;
      border-radius: 0 100px 100px 0;
      max-width: 70%;
      position: absolute;
      left: 0;
      top: 0; }
  * .bg-position-right {
    position: relative; }
    * .bg-position-right::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #F0E9DC;
      border-radius: 100px 0 0 100px;
      max-width: 70%;
      position: absolute;
      top: 0;
      right: 0; }
  * .heading-sacramento {
    font-family: "Sacramento", cursive;
    margin-bottom: 0;
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 2px; }
  * .heading-arvo {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-family: "Arvo", serif;
    font-weight: bold;
    letter-spacing: .2px; }
  * .btn-primary {
    background-color: #F0E9DC;
    color: rgba(0, 0, 0, 0.85);
    border: solid 1px #F0E9DC;
    border-radius: 15px;
    font-size: 32px;
    font-family: "Arvo", serif;
    max-width: 257px;
    margin: 0 auto;
    display: block; }
    * .btn-primary:hover, * .btn-primary:focus, * .btn-primary:active, * .btn-primary:focus-visible {
      background-color: #fff !important;
      color: rgba(0, 0, 0, 0.85) !important;
      border: solid 1px #F0E9DC !important;
      box-shadow: 0 0 0 0.2rem #F0E9DC; }
  * .border-left {
    border-left: solid 2px #000000 !important; }
  * .border-bottom {
    border-bottom: solid 2px #000000 !important; }
  * .py-6 {
    padding-top: 5rem !important;
    padding-bottm: 5rem !important; }

.l-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999; }
  .l-header .h-logo a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-family: "Inika", serif;
    font-weight: bold; }
  .l-header .h-menu ul li {
    float: left;
    margin-left: 40px;
    list-style: none;
    position: relative;
    padding: 5px 0;
    transition: linear .3s; }
    .l-header .h-menu ul li::before {
      content: "";
      width: 100%;
      height: 2px;
      background: #E8D7B5;
      position: absolute;
      top: 0;
      left: 0;
      transition: linear .3s;
      transform: scaleX(0); }
    .l-header .h-menu ul li:hover::before {
      transform: scaleX(1); }
    .l-header .h-menu ul li a {
      text-decoration: none;
      color: #000;
      font-family: "Tillana", cursive; }
  .l-header .h-menu ul .active::before {
    transform: scaleX(1); }

.l-header-scroll {
  background: #fff;
  box-shadow: 0 0 25px #F0E9DC; }

.l-footer {
  background-color: #F9F7F3;
  padding: 60px 0; }
  .l-footer .line-container {
    position: relative; }
    .l-footer .line-container::before {
      content: "";
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      right: 100%;
      bottom: 100%; }
  .l-footer .f-logo a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-family: "Arvo", serif;
    font-weight: bold; }
  .l-footer .f-form {
    margin-top: 21px; }
    .l-footer .f-form form {
      width: 100%;
      position: relative;
      max-width: 510px;
      height: 50px; }
      .l-footer .f-form form input[type="email"] {
        width: 100%;
        border-radius: 15px;
        border: solid 1px #E8D7B5;
        padding: 0 15px;
        height: 100%; }
        .l-footer .f-form form input[type="email"]:focus-visible {
          border: solid 1px #E8D7B5; }
        .l-footer .f-form form input[type="email"]::placeholder {
          font-size: 20px;
          font-family: "Tillana", cursive;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.5); }
      .l-footer .f-form form .btn-send {
        position: absolute;
        right: 0;
        top: 0;
        width: 140px;
        height: 100%;
        border-radius: 0 15px 15px 0;
        display: flex;
        align-items: center;
        justify-content: center; }
  .l-footer .f-contact {
    text-align: right; }
    .l-footer .f-contact p {
      font-family: "Arvo", serif;
      font-size: 20px; }
  .l-footer .f-text {
    text-transform: lowercase; }
    .l-footer .f-text .heading-arvo {
      color: rgba(0, 0, 0, 0.8); }

.copyright {
  height: 100px;
  text-align: center;
  background: #D9D9D9;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 1rem;
  font-family: "Unna", serif;
  display: flex;
  align-items: center;
  justify-content: center; }

.form-contact {
  max-width: 752px;
  margin: 0 auto; }
  .form-contact input, .form-contact textarea {
    border-radius: 25px;
    box-shadow: none;
    border: solid 3px #E8D7B5;
    display: block;
    width: 100%;
    padding: 8px 18px;
    margin-bottom: 30px;
    font-size: 1.25rem;
    font-family: "Tillana", cursive; }
    .form-contact input::placeholder, .form-contact textarea::placeholder {
      color: #E8D7B5; }
  .form-contact button[type="submit"] {
    max-width: 361px;
    display: block;
    width: 100%;
    color: #fff; }

.home {
  margin-top: -100px; }
  .home-banner {
    position: relative;
    padding-top: 100px;
    padding-bottom: 60px;
    background: url("../images/little-cozy.png") no-repeat center right;
    background-size: auto; }
    .home-banner::before {
      content: "";
      width: 100%;
      height: 100%;
      max-height: 595px;
      background: url("../images/home-banner.png") no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-size: cover; }
    .home-banner::after {
      content: "";
      width: 100%;
      height: 100%;
      max-height: 495px;
      background-color: #F0E9DC;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1; }
    .home-banner .preview-image {
      width: 100%;
      max-width: 583px;
      margin: 0 auto; }
  .home .bg-second-right::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #F9F7F3;
    z-index: -1; }
  .home .bg-second-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #F9F7F3;
    z-index: -1; }
  .home-only-title .heading-sacramento {
    max-width: 600px; }
  .home-overview {
    position: relative;
    padding: 100px 0; }
    .home-overview_galley .slick-dots {
      justify-content: center; }
    .home-overview_galley .title {
      color: #E8D7B5;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: "Arvo", serif; }
    .home-overview_galley .time {
      font-size: 22px;
      font-family: "Arvo", serif;
      font-weight: 400;
      color: #D9D9D9;
      padding: 1rem 0 1.8rem 0; }
    .home-overview_galley .galley figure img {
      width: 100%; }
  .home-area {
    padding: 100px 0; }
    .home-area_content {
      max-width: 645px;
      margin: 0 auto; }
  .home-slide {
    padding: 100px 0; }
    .home-slide .slick-dots {
      justify-content: center;
      margin-top: 35px; }
    .home-slide_list .item {
      margin: 0 40px; }
      .home-slide_list .item img {
        width: 100%; }
  .home-video {
    padding: 150px 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.85); }
    .home-video_background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover; }
    .home-video_content {
      color: #fff; }
      .home-video_content div {
        color: #fff; }

.shop-banner figure img {
  width: 100%;
  object-fit: cover; }
.shop-cate {
  margin-top: 9rem; }
  .shop-cate_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; }
    .shop-cate_content .item {
      min-height: 14rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../images/shop-cate.png");
      background-size: cover;
      position: relative;
      z-index: 0;
      transition: linear .3s; }
      .shop-cate_content .item:hover {
        transform: scale(1.05);
        z-index: 2; }
      .shop-cate_content .item::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
        z-index: -1;
        top: 0;
        left: 0; }
      .shop-cate_content .item a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        height: 100%; }
        .shop-cate_content .item a span {
          position: relative;
          display: inline-block;
          color: #fff;
          font-family: "Arvo", serif;
          font-size: 5rem; }
          .shop-cate_content .item a span::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background: #fff;
            bottom: -1rem;
            left: 0; }
.shop-featured {
  margin-top: 9rem; }
  .shop-featured .content-left {
    margin: 0 auto 0 0; }
  .shop-featured .content-right {
    margin: 0 0 0 auto; }
  .shop-featured_content {
    padding: 6rem 0;
    max-width: 70%;
    text-align: center; }
    .shop-featured_content .preview img {
      width: 100%; }
    .shop-featured_content .preview video {
      width: 100%; }
    .shop-featured_content .text {
      font-size: 2rem;
      font-family: "Tillana", cursive;
      padding-top: 2.8rem;
      text-align: justify; }
.shop-contact {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10rem 0;
  margin-top: 9rem; }

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

.login {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  background-color: #DDDDDDFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px 1px #333;
  -moz-box-shadow: 0 0 5px 1px #333;
  box-shadow: 0 0 5px 1px #333; }
  .login a.register {
    color: #444;
    text-decoration: none;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s; }
    .login a.register:before {
      padding-right: 6px; }
    .login a.register:hover {
      color: #E8D7B5;
      text-shadow: 0 1px #555; }
    .login a.register:active {
      text-shadow: 0 -1px #555;
      -webkit-transform: translateY(2px);
      -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
      -o-transform: translateY(2px);
      transform: translateY(2px); }
  .login input {
    width: 100%;
    margin: 8px 0px;
    padding: 12px; }
  .login .txt {
    position: relative; }
    .login .txt input[type="text"], .login .txt input[type="password"] {
      color: #555;
      text-shadow: 0 1px #FFF;
      padding: 12px 12px 12px 45px;
      border: 1px solid #888;
      border: 2px solid transparent;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      outline: none;
      background-color: fade(#FFF, 80%); }
      .login .txt input[type="text"]:hover, .login .txt input[type="text"]:focus, .login .txt input[type="password"]:hover, .login .txt input[type="password"]:focus {
        background-color: #FFF; }
      .login .txt input[type="text"]:focus, .login .txt input[type="password"]:focus {
        border-color: #F0E9DC; }
    .login .txt .show {
      background: none;
      border: none;
      color: #333333;
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
      cursor: pointer; }
      .login .txt .show:focus {
        outline: none; }
    .login .txt label {
      cursor: text; }
      .login .txt label:before {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-100%);
        font-size: 1.1em;
        color: #F0E9DC;
        line-height: 58px;
        text-align: center;
        width: 50px;
        height: 50px; }
  .login .buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .login .buttons input {
      -webkit-flex: 1;
      -moz-flex: 1;
      flex: 1;
      width: 100%; }
    .login .buttons span a {
      display: inline-block;
      vertical-align: middle;
      padding: 0 15px;
      line-height: 70px;
      text-align: center; }
  .login input[type="button"] {
    cursor: pointer;
    color: #FFF;
    text-shadow: 0 1px #E8D7B5;
    font-size: 1.2em;
    border: 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    background-color: #F0E9DC;
    -webkit-box-shadow: 0 2px #F0E9DC, inset 0 0 #F0E9DC;
    -moz-box-shadow: 0 2px #F0E9DC, inset 0 0 #F0E9DC;
    box-shadow: 0 2px #F0E9DC, inset 0 0 #F0E9DC; }
    .login input[type="button"]:hover, .login input[type="button"]:focus {
      background-color: #e8deca;
      -webkit-box-shadow: 0 2px #e8deca, inset 0 0 #F0E9DC;
      -moz-box-shadow: 0 2px #e8deca, inset 0 0 #F0E9DC;
      box-shadow: 0 2px #e8deca, inset 0 0 #F0E9DC; }
    .login input[type="button"]:active {
      -webkit-box-shadow: 0 0 #229955, inset 0 1px #e8deca;
      -moz-box-shadow: 0 0 #e8deca, inset 0 1px #e8deca;
      box-shadow: 0 0 #e8deca, inset 0 1px #e8deca;
      -webkit-transform: translateY(2px);
      -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
      -o-transform: translateY(2px);
      transform: translateY(2px);
      transition: all 0s; }
  .login .social {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 10px; }
    .login .social a {
      display: inline-block;
      -webkit-flex: 1;
      -moz-flex: 1;
      flex: 1;
      text-align: center;
      text-decoration: none;
      outline: none; }
      .login .social a:before {
        display: inline-block;
        padding: 0;
        font-family: 'entypo', sans-serif;
        font-size: 2em;
        color: #444;
        line-height: 50px;
        text-align: center;
        text-shadow: 0 1px rgba(255, 255, 255, 0.4);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 50px;
        height: 50px; }
      .login .social a:hover:before, .login .social a:focus:before {
        color: #FFF;
        -webkit-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
        -moz-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
        -ms-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
        -o-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
        transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s; }
      .login .social a:active:before {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s; }
      .login .social a.facebook:before {
        content: "\f30c"; }
      .login .social a.facebook:hover:before, .login .social a.facebook:focus:before {
        text-shadow: 0 1px #1e2e4f;
        background-color: #3b5998;
        -webkit-box-shadow: 0 0 0 4px fade(#3b5998, 60%);
        -moz-box-shadow: 0 0 0 4px fade(#3b5998, 60%);
        box-shadow: 0 0 0 4px fade(#3b5998, 60%); }
      .login .social a.facebook:active:before {
        -webkit-box-shadow: 0 0 0 4px fade(#3b5998, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
        -moz-box-shadow: 0 0 0 4px fade(#3b5998, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
        box-shadow: 0 0 0 4px fade(#3b5998, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%); }
      .login .social a.twitter:before {
        content: "\f309"; }
      .login .social a.twitter:hover:before, .login .social a.twitter:focus:before {
        text-shadow: 0 1px #1385cc;
        background-color: #56b4ef;
        -webkit-box-shadow: 0 0 0 4px fade(#56b4ef, 60%);
        -moz-box-shadow: 0 0 0 4px fade(#56b4ef, 60%);
        box-shadow: 0 0 0 4px fade(#279feb, 60%); }
      .login .social a.twitter:active:before {
        -webkit-box-shadow: 0 0 0 4px fade(#56b4ef, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
        -moz-box-shadow: 0 0 0 4px fade(#56b4ef, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
        box-shadow: 0 0 0 4px fade(#56b4ef, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%); }
      .login .social a.googleplus:before {
        content: "\f30f"; }
      .login .social a.googleplus:hover:before, .login .social a.googleplus:focus:before {
        text-shadow: 0 1px #96271a;
        background-color: #dd4b39;
        -webkit-box-shadow: 0 0 0 4px fade(#dd4b39, 60%);
        -moz-box-shadow: 0 0 0 4px fade(#dd4b39, 60%);
        box-shadow: 0 0 0 4px fade(#dd4b39, 60%); }
      .login .social a.googleplus:active:before {
        -webkit-box-shadow: 0 0 0 4px fade(#dd4b39, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
        -moz-box-shadow: 0 0 0 4px fade(#dd4b39, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
        box-shadow: 0 0 0 4px fade(#dd4b39, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%); }
  .login div.hr {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin: 40px 0;
    color: #555;
    text-shadow: 0 1px fade(#FFF, 40%); }
    .login div.hr div {
      font-family: 'Courgette', cursive;
      font-size: 1.2em; }
      .login div.hr div:first-child, .login div.hr div:last-child {
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        position: relative; }
        .login div.hr div:first-child:before, .login div.hr div:last-child:before {
          content: ' ';
          position: absolute;
          top: 50%;
          left: 0px;
          right: 0px;
          height: 1px;
          background-color: #5F5F5F;
          -webkit-box-shadow: 0 1px 0 fade(#FFF, 20%);
          -moz-box-shadow: 0 1px 0 fade(#FFF, 20%);
          box-shadow: 0 1px 0 fade(#FFF, 20%); }
      .login div.hr div:first-child {
        margin-right: 20px; }
      .login div.hr div:last-child {
        margin-left: 20px; }

/*# sourceMappingURL=index.css.map */
